annotated-types
anyio
cachetools
certifi
charset-normalizer
click
colorama
fastapi
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httplib2
idna
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dotenv
requests
rsa
sniffio
starlette
tqdm
typing_extensions
uritemplate
urllib3
uvicorn
gunicorn